#Javabacula System Properties
#Mon May 21 22:44:06 CEST 2007
javabacula.window.top=0
javabacula.name=ilap-note
javabacula.window.width=480
javabacula.director.0=System\:bkpsrv\:9101\:Administrator\:2007-05-21 22\:43\:39
javabacula.init.splash=false
javabacula.window.height=640
javabacula.version=0.1
javabacula.defaults.user.dir=.
javabacula.window.left=0
